<!DOCTYPE HTML>
<html>
	<!-- view all tasks -->
	
	
	<h1>All tasks</h1>

	<div>
		<% @tasks.each do |t| %>
			<div class="task_overview">
				<%= link_to t.head, task_path(t), class: "task_title_link"%>
				
				<br>
				Tags:

				<% t.tags.each do |tg| %>
					<%= tg.name %>, 
				<% end %>

				<br>
			</div>
		<% end %>
	</div>
</html>