<!DOCTYPE HTML>
<html>
	<h1>All tasks</h1>

	<div>
		<%= link_to "New", "/new" %>

		<br>

		<% @tasks.each do |t| %>
			<div>
				<%= link_to t.head, task_path(t) %>
			</div>
		<% end %>
	</div>
</html>