<!DOCTYPE html>
<html>
	<div>
		<% if @results.length == 0 %>
			No results found.
		<% else %>
			<% @results.each do |t| %>
				<%= t.head %>
			<% end %>
		<% end %>

		<%= link_to "Back to search", "/search" %>
	</div>
</html>