<!DOCTYPE html>
<html>
	<h1>Search Results</h1>
	<div>
		<% if @results.length == 0 %>
			No results found.
		<% else %>
			<% @results.each do |t| %>
				<div>
				<%= link_to t.head, task_path(t) %>
				
				<br>
				Tags: 

				<% @tags.each do |tg| %>
					<% if tg.task_id == t.id %>
						<%= tg.name %>,
					<% end %>
				<% end %>

				<br>
				</div>
			<% end %>
		<% end %>

		<%= link_to "Back to search", "/search" %>
	</div>
</html>