<!DOCTYPE html>
<html>
	<!-- login -->
	
	<h1>Sign in</h1>
	
	<div>
		<%= form_for :session, url: "/login" do |f|%>

			Username:<%= f.text_field :username %><br>
			Password:<%= f.text_field :password %><br>
			<%= f.submit "Sign in" %>

		<% end %>
	</div>
</html>