<!DOCTYPE html>
<html>
	<!-- login -->
	
	<h1>Sign in</h1>
	
	<div>
		<%= form_for :session, url: "/login" do |f|%>

			<table>
				<tr>
					<td>Username:</td>
					<td><%= f.text_field :username %></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><%= f.password_field :password %></td>
				</tr>
			</table>
			<%= f.submit "Sign in", class: "submit_button" %>

		<% end %>
	</div>
</html>