<!DOCTYPE html>
<html>
	<!-- create new user -->

	<h1>Create new user</h1>
	
	<div>
		<%= form_for :user do |f| %>
			Username: <%= f.text_field :username %><br>
			Password: <%= f.text_field :password %><br>
			<%= f.submit "Create account" %>
		<% end %>
	</div>
</html>